.alert.alert--error {
  background-color: red;
  color: white;
}
.alert.alert--warning {
  background-color: orange;
  color: white;
}
.alert.alert--success {
  background-color: green;
  color: white;
}
